.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #d0d0d0;
}

a {
  text-decoration: none;
  color: #484848;
  transition: 0.3s ease-out;
}

a:hover {
  color: #7fbfff;
}

.container {
  padding: 1rem;
}

.shop {
  display: flex;
  gap: 2rem;
}

.shop_item {
  padding: 1rem;
  border-bottom: 1px solid #d0d0d0;
  box-shadow: 1px 1px 3px #b1b1b1;
}

.shop_itemName {
  text-align: left;
  font-weight: bold;
}

.shop_description {
  font-size: 12px;
  max-width: 300px;
}

.shop_addButton {
  border: none;
  background: #2b91ff;
  border-radius: 4px;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.cart {
  margin: 4rem;
  display: grid;
  justify-content: center;
  border-top: 1px solid #d0d0d0;
  padding-top: 1rem;
}

.cart_title {
  font-weight: bold;
  font-size: 1.25rem;
}

.cart_item {
  display: flex;
  align-items: center;
}

.cart_block {
  width: 200px;
}

.cart_itemName {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
}
.cart_price {
  margin: 0;
}

.cart_stock {
  font-size: 1.5rem;
  margin-left: 5rem;
}
